*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    height: 100vh;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
}

header img {
    height: 20px;
}

.nome h1 {
    font-size: 1.0rem;
    color: #333;
    margin-right: 90px;

}

.logo {
    height: 21px;
    width: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 {
    font-size: 16px;
}


main {
    margin-top: 100px;
    text-align: center;
}

main h2 {
    padding-top: 45px;
    font-size: 32px;
    font-family: "Poppins";
}

main p {
    padding-top: 16px;
    font-size: 16px;
    font-family: "Roboto";
    color: #575F6E;
    gap: 15px;
}

.cadeado {
    display: flex;
    background-color: #F0F2F4;
    width: 374;
    height: 86;
    padding-right: 16px;
    margin-bottom: 40px;
    padding-left: 16px;
    gap: 16px;
    align-items: center;
    text-align: left;
    margin-top: 32px;
    justify-content: center;
}
.numero{
    font-family: "Poppins";
    font-size: 14px;
}
button{
    width: 137px;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    border: 8px;
}
h3{
    color: #242426;
    width: 326px;
    height: 20px;
    opacity: 1; 
    font-family: "Poppins";
    font-weight: 400;
    margin-bottom: 32px;
}
.numero, p{
    margin-bottom: 32px;
}